@import "cast.css";

#credits {
    display: none;
    float: none;
    position: relative;
    width: 80%;
    font-size: 0.8em;
}

h2 {
    float: none;
    position: relative;
    width: fit-content;
    margin: 0 auto;
}

@media only screen and (max-aspect-ratio: 1/1) {
    main ul {
        margin-left: 0;
    }

    h2 {
        font-size: 1000%;
        padding: 0 15px 0 0;
    }

    main ul li {
        display: block;
        overflow-wrap: break-word;
        margin: 120% auto;
        font-size: 100%;
        scale: 3.75;
    }
}