* {
    box-sizing: border-box;
}

main {
    padding-left: 2em;
    padding-right: 2em;
    padding-bottom: 2em;
}

body {
    color: #FFFF99;
    background-image: url("images/background.jpg");
    background-size: cover;
    background-attachment: fixed;
    background-position: top center;
    background-color: transparent;
    font-family: Verdana, Arial, sans-serif;
    font-weight: bold;
    display: block;
}

#wrapper {
    width: 65%;
    height: fit-content;
    min-width: 360px;
    max-width: 2200px;
    margin: 3.5em auto;
    background-color: #000044;
    background-image: url("images/panel.jpg");
    box-shadow: 0px 0px 10px 5px white;
    border-radius: 10px;
    padding: 1em;
}

h1 {
    padding: 0.5em;
    text-align: center;
    background-color: rgba(0, 0, 0, 30%);
    width: fit-content;
    margin-left: auto;
    margin-right: auto;
    border-radius: 15px;
}

#menu-button {
    display: none;
}

#menu-button a:link {
    color: #FFFF99;
}

#menu-button a:hover {
    color: #FFFF55;
}

#menu-button a:visited {
    color: #FFFF99;
}

nav {
    float: left;
    max-width: 150px;
    width: 150px;
    text-align: center;
    background-color: rgba(0, 0, 0, 25%);
    position: fixed;
    border-radius: 15px;
}

nav ul {
    list-style-type: none;
    text-align: left;
    max-width: 150px;
    width: 150px;
    margin: 0;
    padding: 5px 10px;
}

nav li {
    display: block;
    position: relative;
    text-align: left;
    list-style: none;
    text-wrap: normal;
    padding: 0.5em 0.25em;
    text-indent: 0;
    font-size: 1em;
    max-width: 150px;
    width: 150px;
}

nav a {
    color: #FFFF77;
    font-weight: bolder;
    text-align: center;
}

main {
    margin-left: 150px;
}

h2 {
    padding: 0.5em;
    background-color: rgba(0, 0, 0, 30%);
    width: fit-content;
    margin-left: 0;
    margin-right: auto;
    border-radius: 15px;
}

p {
    text-align: right;
    background-color: rgba(0, 0, 0, 25%);
    width: fit-content;
    border-radius: 15px;
    padding: 8px;
}

#watchList {
    text-align: left;
    background-color: rgba(0, 0, 0, 25%);
    width: fit-content;
    border-radius: 15px;
    padding: 8px 8px 8px 30px;
}

#castHeading {
    margin-left: 150px;
}

#castList {
    list-style-type: none;
    background-color: transparent;
}

#castList li {
    display: inline-block;
    text-align: center;
    background-color: rgba(0, 0, 0, 25%);
    border-radius: 15px;
    padding: 8px;
    margin: 5px 15px;
    width: 144px;
    font-weight: bold;
}

#castList li img {
    border-radius: 10px;
}

#castList strong {
    font-weight: bolder;
    color: #FFFF77;
    text-decoration: underline;
}

main a:link {
    color: #FFFF99;
}

main a:hover {
    color: #FFFF55;
}

main a:visited {
    color: #FFFF99;
}

footer p {
    margin: auto;
    text-align: center;
    font-size: smaller;
    max-width: 70%;
}

footer a:link {
    color: #FFFF99;
}

footer a:hover {
    color: #FFFF55;
}

footer a:visited {
    color: #FFFF99;
}

#thumbnail {
    border-radius: 25px;
    margin-top: 0.5em;
    float: right;
    position: relative;
    top: -8px;
}

#index-content {
    margin-right: 425px;
}

noscript {
    position: fixed;
    bottom: 0;
    right: 0;
    padding: 15px;
    background-color: rgba(255, 255, 255, 75%);
    color: black;
    font-size: 1.167em;
    width: 300px;
    border-radius: 15px;
}