main {

    padding-left: 2em;
    padding-right: 2em;
    padding-bottom: 2em;
    display: block;

}

body {

    color: #FFFF99;
    background-image: url("images/background.jpg");
    background-size: cover;
    background-attachment: fixed;
    background-position: top center;
    background-color: transparent;
    font-family: Verdana, Arial, sans-serif;
    font-weight: bold;

}

#wrapper {

    width: 65%;
    height: 100%;
    min-width: 500px;
    max-width: 2200px;
    margin: 3.5em auto;
    background-color: #000044;
    background-image: url("images/panel.jpg");
    box-shadow: 0px 0px 10px 5px white;
    border-radius: 10px;
    padding: 1em;

}

h1 {

    padding: 0.5em;
    text-align: center;
    background-color: rgba(0, 0, 0, 30%);
    width: fit-content;
    margin-left: auto;
    margin-right: auto;
    border-radius: 15px;

}

h2 {

    padding: 0.5em;
    background-color: rgba(0, 0, 0, 30%);
    width: fit-content;
    margin-left: 0;
    margin-right: auto;
    border-radius: 15px;

}

nav {

    text-align: center;
    background-color: rgba(0, 0, 0, 25%);
    width: fit-content;
    margin-left: auto;
    margin-right: auto;
    padding: 0 8px;
    border-radius: 8px;

}

nav a {

    color: #FFFF77;
    font-weight: bolder;

}

p {

    text-align: right;
    background-color: rgba(0, 0, 0, 25%);
    width: fit-content;
    border-radius: 15px;
    padding: 8px;

}

span {

     text-align: right;
     background-color: rgba(0, 0, 0, 25%);
     width: fit-content;
     border-radius: 15px;
     padding: 8px;

 }

#thumbnail span {
    position: absolute;
    min-height: 300px;
    max-height: 700px;
    margin: 0 0 auto 15%;
    overflow: auto;
}